*{
    padding:0;
    margin:0;
}
body{
    font-family: "Microsoft YaHei", "微软雅黑", STHeiti, MingLiu;
    color:#fff;
    font-size: 62.5%;
}
img{
    border:0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*清除浮动*/
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
/*标题*/
/*.title{
	position: fixed;
	left:0;
	right:0;
	top:0;
	z-index: 1;
	background: #000;
}
.title li{
	height:45px;
	float: left;
	text-align: center;
}
.title li:nth-child(2n-1){
	width:15%;
}
.title li:nth-child(2){
	width:70%;
	line-height: 45px;
	font-size: 1rem;
}
.back{
	width:16px;
	height:16px;
	position:relative;
	top:14px;
}*/
/*关于我们*/
.logo{
	width:72px;
	height:72px;
	background-image: url(../images/logo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
    margin: 150px auto 10px;
}
.name{
	font-size: 0.8rem;
}
.name,.version{
	text-align: center;
}
.version{
	margin-top:5px;
	color:#666666;
}
.list{
	background: #312837;
	margin-top:30px;	
}
.list li{
	width:98%;
	float: right;
	line-height: 45px;
	font-size: 0.8rem;
}
.list li:nth-child(1){
	border-bottom:1px solid #3b3142;
}
.point{
	width:16px;
	height:16px;
	float: right;
	margin:15px;
}
/*服务条款*/
.tit{
    line-height: 40px;
    text-align: center;
    font-size:18px;
    font-weight: bold;
}
.sa-main{
    width:90%;
    margin:0 auto;
}
.sa-ts{
    line-height:40px;
    font-size: 13px;
    font-weight: bold;
}
.sa-list1{
    text-indent: 2em;
    line-height: 20px;
}
/*活动页*/
.active_main{
	width:95%;
	height:300px;
	margin:0 auto;
}
.active_tit{
	padding:10px 0;
	font-size: 1rem;
}
p{
	line-height: 28px;
    font-size: 1rem;
}